<template>
  <div>
    <h1>Uh-uh!</h1>
    <h3>
      It looks like you're experienceing some network issues. Please click the
      back button and try again
    </h3>
    <router-link :to="{ name: 'event-list' }">back to homepage</router-link>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped></style>
