<template>
  <div>
    <label for="label">{{ label }}</label>
    <input
      type="text"
      :value="value"
      @input="updateValue"
      v-bind="$attrs"
      v-on="listeners"
    />
  </div>
</template>

<script>
import { formFieldMixin } from '../mixins/formFieldMixin.js'
export default {
  mixins: [formFieldMixin],
  computed: {
    listeners() {
      //compromise
      //this will allow conflicting listeners to shake hands
      return {
        ...this.$listeners,
        input: this.updateValue // this takes precedence
      }
    }
  }
}
</script>

<style lang="scss" scoped></style>
